/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wp4good-forflcharity {
	border: 1px dotted #f00;
}

.flstyles {
	background-color: whitesmoke;
	color: black;
	font-size: 12px;
	padding: 4px;
}
.flstyles a {
	color:blue;
}
.flnumber {
	font-size: 18px;
}
.modern {
	background-color: white;
}
